ion-img {
  max-width: 20px;
  height: auto;
}
ion-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fecha-ultimo-pasaje {
  font-size: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
}