ion-img {
  max-width: 20px;
  height: auto;
}
ion-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 150px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

#recarga {
  width: 100%;
  height: auto;
}
#pasajes {
  width: 100%;
  height: auto;
}
#saldo_disponible{
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
}
#rutas_disponibles{
margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#ultimo_pasaje{
 font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}