ion-img {
  max-width: 20px;
  height: auto;
}
ion-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 150px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

#recarga {
  width: 100%;
  height: auto;
}
#pasajes {
  width: 100%;
  height: auto;
}

#saldo, #ultimo-pasaje {
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

#ultimo-pasaje {
  margin-top: 16px;
}

#rutas {
  max-height: 240px; // Altura aproximada para 4 elementos
  overflow-y: auto;  // Activar scroll vertical
  width: 100%;
}

.label-route-item {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto; 
}
.route-item {
  height: 80px;
}

#ultimo-pasaje-row {
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}