<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bioruta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-col>
  <ion-row>
        <ion-col id="logo">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </ion-col>
    <ion-col>
      <ion-label>
        Prepa Universitaria
      </ion-label>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button id="recarga" href="/tabs/tab2">Recarga</ion-button>
    </ion-col>
    <ion-col>
      <ion-button id="pasajes" href="/tabs/tab3" >Pasajes</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-label id="saldo">
      Saldo: {{ saldoFormatted() }}
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-list id="rutas">
      <ion-item class="route-item" *ngFor="let route of getRoutes()">
        <ion-icon name="bus" slot="start" [style.color]="route.color"></ion-icon>
        <ion-label class="label-route-item">
          {{ route.from }} - {{ route.to }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row id="ultimo-pasaje-row">
    <ion-col>
      <ion-label id="ultimo-pasaje">Ultimo pasaje: </ion-label>
    </ion-col>
    <ion-col>
      <ion-row id="detalle-ultimo-pasaje">
      
      <ion-label class="label-route-item">
        <ion-icon name="bus" slot="start" [style.color]="'blue'"></ion-icon>
        {{ getLastTravelRoute().from }} - {{ getLastTravelRoute().to }}
      </ion-label>
      </ion-row>
      <ion-row>
      <ion-label id="costo-ultimo-pasaje">{{ getLastTravelCost("user_001") | currency:'MXN':'symbol':'1.2-2' }}</ion-label>
      </ion-row> 
    </ion-col>  
  </ion-row>
</ion-col>
</ion-content>
